<h1 class="text-center">Inicia sesión</h1>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="register-form">
  <label class="register-form__label">
    Email
    <input type="email" formControlName="email" class="register-form__input">
  </label>
  <div class="invalid-input">
    @if (email?.invalid && (email?.dirty || email?.touched)) {
      <div class="alert alert-danger">
        @if (email?.hasError('required')) {
          <small>
            Email es requerido.
          </small>
        }
        @if (email?.hasError('email')) {
          <small>
            Debe ser un email válido.
          </small>
        }
      </div>
    }
  </div>
  <label class="register-form__label">
    Password
    <input type="password" formControlName="password" class="register-form__input">
  </label>
  <div class="invalid-input">
    @if (password?.invalid && (password?.dirty || password?.touched)) {
      <div class="alert alert-danger">
        @if (password?.hasError('required')) {
          <small>
            Password es requerido.
          </small>
        }
        @if (password?.hasError('minlength')) {
          <small>
            Password debe tener al menos 8 caracteres.
          </small>
        }
        @if (password?.hasError('maxlength')) {
          <small>
            Password debe tener 15 caracteres máximo.
          </small>
        }
      </div>
    }
  </div>
  <button type="submit" [disabled]="!registerForm.valid" class="button button_submit"
          [class.disabled]="!registerForm.valid">Inicia</button>
</form>

<p class="text-center">No tienes cuenta? Entonces <a routerLink="/register">regístrate</a></p>
