.text-center{
  text-align: center;
}

.register-form{
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: auto;
}

.register-form__label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.register-form__input {
  padding: 0.5rem;
  margin-top: 0.5rem;
  border: none;
  border-radius: 5px;
}
