*.log
.DS_Store
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
codealike.json

# dotenv environment variable files
.env
.env.backup
.env.production
.env.development.local
.env.test.local
.env.production.local
.env.local